.center {
    font-size: large;
    display: inline-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
}

.a {
    margin: 10px 10px 10px;
}

.ilk-baslik {
    font-weight: 200;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
